__pycache__/Classes_Funcoes.cpython-38.pyc
__pycache__/Classes.cpython-38.pyc
__pycache__/constantes.cpython-38.pyc
__pycache__/Funcoes.cpython-38.pyc
__pycache__/LoopJogo.cpython-38.pyc
__pycache__/LoopTelaInfo.cpython-38.pyc
__pycache__/LoopTelaInicial.cpython-38.pyc
